.frame-container {
  background: black;
  @media screen and (min-width: 800px) {
    background: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: opacity 500ms ease;

  opacity: 0;

  &-animate-out {
    opacity: 0;
  }

  &-animate-in {
    opacity: 1;
  }

  &-hide {
    display: none;
    opacity: 0;
  }
}

.frame {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;

  display: flex;
  position: relative;
  overflow-x: scroll;

  background-size: cover;
  background-position: center;
  transition: background 500ms ease;
  will-change: background;

  > div {
    scroll-snap-align: start;
    flex-basis: 100vw;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.animated-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: linear-gradient(to top, black, transparent);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
  transition: opacity 1s ease;
  // animation: pull-up 1s ease;
}
@keyframes pull-up {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.logo {
  cursor: pointer;
  width: 66px;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 200ms ease;
}

.frame-background-mobile {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;

  transition: opacity 500ms ease;

  // max-width: 100%;
  object-fit: cover;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
