* {
  box-sizing: border-box;
}

h1 {
  margin: 20px;
}
h1,
h2,
h3,
h4 {
  line-height: 1.15;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: acumin-pro-extra-condensed, acumin-pro, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.disable-touch-scroll {
  touch-action: none;
}

.hide {
  display: none !important;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
}

/* * {
  outline: 1px solid #fff;
} */

.clickable {
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in-out;
  will-change: transform;
  @media screen and (min-width: 800px) {
    &:hover {
      transform: scale(1.2);
    }
  }
  &:active {
    transform: scale(1.2);
  }
}
