.arrow-button {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  transition: opacity 500ms ease;

  animation: enter 500ms ease;
}

.arrow-button-text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.absolute-up {
  position: absolute;
  top: 24px;
  width: 100%;
}

.absolute-down {
  position: absolute;
  bottom: 24px;
  width: 100%;
}
