.back-button {
  // color: white;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 8px;
  // transition: opacity 500ms ease;

  // animation: enter 500ms ease;
  width: 32px;
  height: 32px;

  position: absolute;
  top: 36px;
  left: 36px;

  z-index: 100;
}
