.exit-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 500ms ease;
  animation: enter 500ms ease;
}
