.frame-lookbook {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;

  background-size: cover;
  background-position: center;

  position: relative;
  overflow: scroll;

  color: white;

  &-content {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 75px;
    margin-bottom: 3rem;
    & > p {
      font-family: acumin-pro, sans-serif;
    }

    &-socials {
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 100%;
      font-size: 1.8rem;
      font-weight: 700;
      display: flex;
      justify-content: center;

      a {
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
      }

      span {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }

  > pre {
    position: relative;
    width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 24px;
  }
}

.frame-lookbook-card-stack {
  position: relative;
  height: 132vw;
  max-height: 632px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 120px;

  @media screen and (min-width: 800px) {
    margin-top: 0px;
    padding-top: 5vw;
    max-height: 800px;
    height: 80vw;
  }

  img {
    width: 75%;
    position: absolute;

    will-change: transform;
    transition: transform 600ms ease-in-out;
    filter: drop-shadow(-2px 0px 0.2rem rgba(0, 0, 0, 0.5));
  }

  &-page {
    position: relative;
    width: 100%;
    max-width: 500px;
    @media screen and (min-width: 800px) {
      max-width: 582px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (min-width: 800px) {
      width: 50%;
    }
  }

  &-info {
    @media screen and (min-width: 800px) {
    }
  }

  &-arrow-controls {
    width: 75%;
    z-index: 100;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;

    & svg {
      transition: all 500ms ease;
    }

    &-hide {
      opacity: 0;
      touch-action: none;
      pointer-events: none;
    }
  }
}

.frame-lookbook-slider {
  height: calc(100vw * 1.2);
  width: 100%;
  display: flex;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  img {
    object-fit: contain;
    transform: rotate(-2deg);
    scroll-snap-align: start;
    flex-basis: 50vw;
    flex-shrink: 0;
    min-width: 0;
    flex-grow: 0;
    margin: 80px;
  }
}

.limiter {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
