.frame-lookbook {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;

  background-size: cover;
  background-position: center;

  position: relative;
  overflow: scroll;

  color: white;

  > pre {
    position: relative;
    width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 24px;
  }
}
