.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spsc {
  height: 100%;
  width: 100%;
  display: flex;
}

.spsc-frame-left,
.spsc-frame-right {
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
  // min-width: 60px;
  background: rgb(120, 150, 167);

  display: flex;
  justify-content: center;
}

.spsc-frame-right {
  flex-grow: 1;
}

.spsc-frame-image {
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.spsc-frame-text {
  width: 100%;
  height: 50px;
  // background: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 30%;
  min-width: 150px;
  white-space: nowrap;
}

.spsc-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);

  // Test
  // background: rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(6px);

  &-image {
    width: 80vw;
  }
}
